<!-- The video -->
<video class="button-container" autoplay style="width: 100vh" id="myVideo" *ngIf="false" (click)="myFunction()">
  <!-- displayVideo -->
  <source src="../assets/video/Introduction.mp4" type="video/mp4">
</video>
<div class="background-container">
  <div class="background-overlay">
    <div class="container">
      <div class="row pt-5 align-items-center">
      </div>
      <div class="row pt-3">
        <div class="col-6 d-flex align-items-center justify-content-center" style="min-height: 70vh;">
          <h1 class="fw-bolder" style="font-family: 'alarm clock', sans-serif; font-size: 95px;">
            12:06
          </h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col-12 text-end score-column my-2 bg-success">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>

            <div class="col-12 text-end score-column my-2 bg-info ">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>

            <div class="col-12 text-end score-column my-2 bg-danger">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>