<!-- The video -->
<video class="button-container" autoplay style="width: 100vh" id="myVideo" *ngIf="displayVideo" (click)="myFunction()">
  <!-- displayVideo -->
  <source src="../assets/video/Introduction.mp4" type="video/mp4">
</video>
<div class="background-container background-Image1" [ngClass]="{
    'background-Image1': numberOfPlayer ==1, 
    'background-Image2': numberOfPlayer ==2, 
    'background-Image3': numberOfPlayer ==3, 
    'background-Image4': numberOfPlayer ==4
    }">
  <div class="background-overlay">
    <div class="container-fluid">
      <div class="row pt-5 align-items-center">
        <div class="col" *ngIf="numberOfPlayer>1">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;">
            {{player1}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;margin-top: 30%;">
            Score 2
          </div>
        </div>
        <div class="col" *ngIf="numberOfPlayer>1">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;">
            {{player2}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;margin-top: 30%;">
            Score 2
          </div>
        </div>
        <div class="col" *ngIf="numberOfPlayer>2">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;">
            {{player3}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;margin-top: 30%;">
            Score 2
          </div>
        </div>
        <div class="col" *ngIf="numberOfPlayer>3">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;">
            {{player4}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;margin-top: 30%;">
            Score 2
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col d-flex align-items-center justify-content-center mt-5" style="min-height: 50vh;">
          <h1 class="fw-bolder" style="font-family: 'alarm clock', sans-serif; font-size: 95px;"
            *ngIf="numberOfPlayer>1">
            {{this.gameTime  | timeFormat }}
            <!-- 12:06 -->
          </h1>
          <button class="button-container start-btn btn font-weight-bold px-5 py-3" *ngIf="numberOfPlayer==1"
           (click) ="getPlayers()">
            Start
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="row pt-3">
        <div class="col-6 d-flex align-items-center justify-content-center" style="min-height: 70vh;">
          <h1 class="fw-bolder" style="font-family: 'alarm clock', sans-serif; font-size: 95px;">
            12:06
          </h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col-12 text-end score-column my-2 bg-success">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>

            <div class="col-12 text-end score-column my-2 bg-info ">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>

            <div class="col-12 text-end score-column my-2 bg-danger">
              <div class="py-2">
                <div class="row">
                  <div class="col text-start ps-4">Your Name</div>
                  <div class="col"> 70</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->
  </div>
</div>