<div class="background-overlay" style="z-index: 100; height: 100vh;" *ngIf="enableRestartTheGame" (click)="reload()">
</div>

<!-- The video -->
<video id="video" class="button-container" style="width: 100vh" id="myVideo" *ngIf="displayVideo" (click)="myFunction()"
  autoplay muted loop>
  <source src="../assets/video/Introduction.mp4" type="video/mp4">
</video>


<div class="background-container background-Image1">
  <div class="background-overlay">
    <div class="container-fluid">
      <div class="row pt-5 align-items-center" *ngIf="!showTeamNamming">
        <div class="col" *ngIf="numberOfPlayer>1">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;color:#fff600">
            {{this.teamName}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder text-white" style="font-size: 60px;margin-top: 5%;">
            Top Score :{{topScore.name}} - {{topScore.score}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder text-white" style="font-size: 80px;margin-top: 5%;">
            {{team.player[0]?.score}}
          </div>
        </div>

        <div class="col" *ngIf="numberOfPlayer>2">
          <div class="row d-flex justify-content-center fw-bolder" style="font-size: 40px;color:blue">
            {{team.player[2]?.firstname +" " +team.player[2]?.lastname}}
          </div>
          <div class="row d-flex justify-content-center fw-bolder text-white" style="font-size: 40px;margin-top: 30%;">
            {{team.player[2]?.score}}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!showTeamNamming">
        <div class="col d-flex align-items-center justify-content-center mt-1 text-white" style="min-height: 50vh;">
          <div class="text-center">
            <div>
              <h1 class="fw-bolder" style="font-family: 'alarm clock', sans-serif; font-size: 95px;"
                *ngIf="numberOfPlayer > 1">
                {{this.gameTime | timeFormat}}
              </h1>
            </div>
            <div>
            </div>
          </div>
          <button class="button-container start-btn btn font-weight-bold px-5 py-3"
            *ngIf="numberOfPlayer == 1 && !hiddeBtn" (click)="getPlayers()">
            Start
          </button>
          <app-countdown *ngIf="showCountDown"></app-countdown>

        </div>
      </div>
      <div class="d-flex align-items-center" style="min-height: 100vh; display: nonr;"
        [style.visibility]="!showTeamNamming ? 'hidden' : 'visible'">

        <div class="container-fluid text-white ">
          <div class="row text-center">
            <h2>{{teamName}}</h2>
            <div class="col-12"><input type="text" class="form-control mb-3" (input)="onInputChange($event)"
                (ngModel)="teamName" placeholder="Name" style="visibility:hidden ;"></div>
          </div>
          <div class="container-fluid ">
            <div class="card  mb-4">
              <div class="row">

                <div class="col-12">
                  <div class="simple-keyboard" style="z-index: 10;"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 button-container">
                <button class="col-12 btn font-weight-bold" (click)="SaveTeamName()"
                  style="color: white;background-color: blue;font-size: 15px;">Start The Game</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>